.SelectDept {
  .content {
    .bread {
      width: 100%;
      height: 56px;
      margin-top: 12px;
      background-color: #fff;
      padding: 10px;
      box-sizing: border-box;

      .breadcrumb {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 36px;
      }
    }
    .allSelect {
      height: 61px;
      display: flex;
      .am-list-item {
        background: transparent;

        .am-list-content {
          color: #0364e8;
          font-size: 18px;
        }
      }
    }
    .listSelect {
      .am-list-item::after {
        content: "";
        position: absolute;
        background-color: #1f3858;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform-origin: 50% 100%;
        transform: scaleY(0.5);
      }
      .am-list-item {
        height: 67px;
        .am-checkbox-inner {
          top: 0;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
        }
        .am-checkbox {
          height: 67px;
          .am-checkbox-inner {
            border-radius: 4px;
          }
        }
        .am-list-line {
          .am-list-content {
            display: flex;
            justify-content: space-between;
            .down {
              color: #0364e8;
              font-size: 18px;
            }
          }
        }
        .am-list-line::after {
          content: none;
        }
      }
    }
  }
  .fixBottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 13px 10px;
    box-sizing: border-box;
    .fixbtn {
      height: 51px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fixword {
        color: #2e69da;
        font-size: 13px;
        margin-left: 20px;
      }
    }
    .btn {
      width: 136px;
      height: 44px;
      background-color: #e60012;
    }
  }
}
