.NeedList {
  padding-top: 45px;
  .content {
    .cropInfo {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      box-sizing: border-box;
      background: rgba(237, 242, 245, 1);
      .cropname {
        max-width: 206px;
        padding-top: 20px;
        box-sizing: border-box;
        color: #414141;
        font-size: 14px;
      }
      .iconimg {
        padding-top: 20px;
        box-sizing: border-box;
        color: #2d7ee7;
        font-size: 14px;
        img {
          width: 13px;
          height: 11px;
          display: inline-block;
          margin-right: 5px;
        }
      }
      .cropimg {
        width: 93px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .formList {
      .nocale{
        .am-input-control{
          input{
            caret-color: transparent;
          }
        }
      }
      .am-list-item .am-input-control input:disabled{
        color:#000;
      }
      .isShow {
        display: none;
      }
      .dingType {
        margin: 0 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 52px;
        position: relative;
        
        border-bottom: 1px solid #c8c8c8;
        p {
          width: 85px;
          margin-right: 5px;
          color: #2e303a;
          font-size: 14px;
        }
        .ant-radio-button-wrapper {
          margin-right: 15px;
          width: 100px;
          background-color: rgba(31, 56, 88, 0.06);
          border-radius: 3px;
          text-align: center;
          color: #000;
          font-size: 14px;
          border: none;
        }
        .ant-radio-button-wrapper-checked {
          background-color: rgba(218, 49, 46, 0.06);
          border: 1px solid rgba(218, 49, 46, 1);
          color: rgba(218, 49, 46, 1);
          box-shadow: none;
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          content: none;
        }
      }

      .am-list-item {
        height: 52px;
        input{
          z-index:-1
        }
        .am-input-label {
          color: #2e303a;
          font-size: 14px;
        }
        .am-input-extra {
          min-height: 22px;
        }
        .am-list-line {
          margin-right: 15px;
          border-bottom: 1px solid #c8c8c8;

          &:after {
            content: none;
          }
        }
        .am-input-control {
          input {
            font-size: 14px;
          }
        }
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
          border: none;
        }
        .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
          box-shadow: none;
        }
      }
      .noborder {
        .am-list-line {
          border-bottom: none;
        }
      }
    }
    .listItem {
      background: #fff;
      padding: 10px 20px;
      .am-list-body::after {
        content: none;
      }
      .am-list-body::before {
        content: none;
      }
      .title {
        color: #2e303a;
        font-size: 14px;
        padding-bottom: 20px;
      }
      .borBot{
        border-bottom: 1px solid #C8C8C8;
      }
      .subject {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        li {
          padding: 8px 10px;
          box-sizing: border-box;
          background-color: rgba(31, 56, 88, 0.06);
          color: #000;
          font-size: 14px;
          border-radius: 3px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
        li.active {
          background-color: rgba(218, 49, 46, 0.06);
          border: 1px solid rgba(218, 49, 46, 1);
          color: rgba(218, 49, 46, 1);
        }
      }
      .am-textarea-control textarea {
        font-size: 14px;
      }
      .am-list .am-list-item.am-textarea-item {
        min-height: 90px;
      }
      .am-list-item {
        height: auto;
      }
    }

    //列表页
    .replyTip{
        background:linear-gradient(52deg,rgba(230,100,0,1) 0%,rgba(230,0,18,1) 100%);
        color:rgba(255, 255, 255, 0.8);
        font-size:20px;
        padding:20px 30px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
    }
    .needInfo{
        width:100%;
        padding:10px;
        .info{
            background:#fff;
            box-shadow:0px 1px 3px 2px rgba(217,217,217,0.5);
            border-radius:2px;
            padding:10px 20px;
            box-sizing:border-box;
        .title{
            display:flex;
            justify-content:space-between;
            margin-bottom:11px;
            p{
                font-weight:400;
                color:rgba(67,78,94,1);
                font-size:12px;
            }
        }
        .stepInfo{
            padding:0 5px;
            box-sizing:border-box;
            .am-steps-item-finish .am-steps-item-tail:after{
              background-color: #DA312E;
            }
            .am-steps-small .am-steps-item-title{
              font-size: 12px;
              color:#313131
            }
            am-steps-item:not(:last-child).am-steps-vertical .am-steps-item-content{
              min-height: 70px;
            }
        }
        .replyInfo{
          display: flex;
          justify-content: flex-start;
          .left{
            width: 30px;
            img{
              width: 100%;
              padding-left: 4px;
              display: block;
              padding-top: 3px;
            }
          }
          .right{
            .replyconTip{
              color:rgba(217, 217, 217, 0.5);
              font-size: 12px;
            }
            .replyContent{
              color:#313131;
              font-size: 12px;
              line-height: 25px;
            }
          }
        }
        }
        
    }
    
  }
  .listBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 14px 30px;
    z-index: 1;
    a:active,a:hover{
      color:#fff;
    }
    .left {
      margin-right: 33px;
      img {
        display: block;
        width: 21px;
        height: 21px;
        margin-left: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
        color: #999;
      }
    }
    .right {
      flex: 1;
      width: 100%;
      height: 44px;
    }
  }
  .replyBottom{
    display:flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    padding: 14px 20px;
    z-index: 1;
    .left{
        width:70%;
        margin-right:10px;
        .ant-input{
            height:37px;
            border-radius:4px;
        }
    }
    .right{
        flex: 1 1;
        width: 100%;
        height: 37px;
        .am-button{
            height:37px;
            line-height:37px;
        }
        .ant-input:hover{
            border-color:none;
        }
        .ant-input:focus{
            border-color:none;
        }
    }
  }
  .epmy{
    width: 100%;
    height: 200px;
  }
  .replypc{
    width: 100%;
    height: 282px;
    border: 1px solid rgba(31, 56, 88, 0.25);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 555;
    .pcTop{
      padding: 15px 20px;
      display:flex;
      justify-content: flex-start;
      align-items: center;
      .replyTitle{
        width: 10%;
      }
    }
    .pcReplyBtn{
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .pcrebtn{
        width: 141px;
        height: 44px;
        border: none;
      }
    }
  }
  
 
}

.ant-modal-body{
  padding: 18px 14px;
  .replyModel{
    width: 100%;
    border-radius:4px;
    height: 242px;
    padding: 10px;
    border:1px solid rgba(178,178,178,1);
    .replyTitle{
      padding:0 0 10px 10px;
      font-weight:400;
      color:rgba(46,48,58,1);
      font-size: 14px;
    }
    .replyText{
      padding-left:0;
      font-size:14px;
      .am-textarea-control textarea{
        font-size: 14px;
      }
    }
  }
  
}
.ant-modal-content{
  .ant-modal-close{
    display: none;
  }
  .ant-btn{
    border: none;
    font-size: 17px;
  }
  .ant-btn-primary{
    width:94px;
    height:37px;
    background:rgba(230,0,18,1);
    border-color:rgba(230,0,18,1);
    border-radius:4px;
  }
  .ant-modal-footer{
    border-top: none;
  }
  
}
.NeedList .content .formList .err-list-item .am-list-line{
  border-bottom: 1px solid rgba(230,0,18,1) ;
}
.NeedList .content .formList .err-list-item .am-list-line .am-input-control input::placeholder{
  color:rgba(230,0,18,1)
}
