.Index {
  background: #ffffff;
  // width: 1040px;
  .emroydiv{
    width:100%;
    height:44px;
  }
  .title {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    .right {
      display: none;
    }
  }
  .contentTop {
    padding: 10px 30px;
  }
  .contentBottom {
    padding: 10px 30px;
  }
  // .content {
  .title {
    font-size: 20px;
    color: #000;
  }
  .pickcan {
    display: none;
  }
  .showpc {
    display: inline-flex;
  }
  .screenBtn {
    display: none;
  }
  .btn_right {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-items: center;
  }
  .min_title {
    font-size: 20px;
    color: #000;
  }
  .timeStyle {
    width: 120px;
  }
  .hideList{
    height: 200px;

  }
  .showList{
    min-height: 200px;
  }
  .fromList {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .payType {
    margin-left: 20px;
    .selectPay {
      width: 120px;
    }
  }
  .mproType {
    display: none;
  }
  .proType {
    display: flex;
  }

  .flexBox {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 14px;
    margin-right: 20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    p {
      margin-right: 10px;
      display: -webkit-flex; /* Safari */
      display: flex;
      align-items: center;
      width: 60px;
    }
    .proUL {
      display: -webkit-flex; /* Safari */
      display: flex;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      box-sizing: border-box;
      height: 34px;
      justify-items: flex-start;
      align-items: center;
      padding: 0;

      .proLI {
        color: #7c8b9d;
        padding: 0 10px;
        font-size: 14px;
        background: #fff;
        text-align: center;
        height: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .proLI:not(:last-child) {
        border-right: 1px solid #d9d9d9;
      }
      .active {
        background: #febb00;
        color: #000;
      }
    }
  }
  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .depName {
    width: 600px;
    .depdiv{
      width:550px;
      height: 64px;
    }
    .ant-select-selector {
      min-height: 64px;
    }
  }
  .mdep {
    display: none;
  }

  .midden {
    width: 100%;
    margin: 40px 0;
    .flexInfo {
      display: -webkit-flex; /* Safari */
      display: flex;
      justify-content: space-between;
      li {
        width: 23%;
        height: 128px;
        display: -webkit-flex; /* Safari */
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        box-sizing: border-box;
        .imgbox {
          width: 25%;
          height: 100%;
          display: -webkit-flex; /* Safari */
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px 0 0 10px;
          img {
            width: 25px;
          }
        }
        .infobox {
          flex: 1;
          color: #fff;
          padding: 15px 0 15px 15px;
          box-sizing: border-box;
          border-radius: 0 10px 10px 0;
          .all {
            font-size: 14px;
            margin-bottom: 15px;
          }
          .yi {
            font-size: 24px;
            margin-top: 10px;
          }
          .title1 {
            font-size: 14px;
            color: #fff;
            padding-left: 0;
          }
        }
      }
      .red {
        .imgbox {
          background: #e66464;
        }
        .infobox {
          background: #db3031;
        }
      }
      .orange {
        .imgbox {
          background: #ffaf41;
        }
        .infobox {
          background: #ff9302;
        }
      }
      .blue {
        .imgbox {
          background: #7da3d2;
        }
        .infobox {
          background: #4f86c0;
        }
      }
      .grad {
        .imgbox {
          background: #bbc3cb;
        }
        .infobox {
          background: #a7aebc;
        }
      }
    }
  }
  .echart {
    width: 100%;
    height: 500px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .echartsTitle {
      color: #000;
      font-size: 14px;
      display: -webkit-flex; /* Safari */
      display: flex;
      align-items: center;
      padding-left: 20px;
      background: #f4f4f4;
      border-radius: 10px;
      height: 60px;
    }
    .echartBox {
      padding: 0;
      flex: 1;
      border: 1px solid #e4e4e4;
      border-top: none;
      .payP {
        margin-left: 30px;
        margin-top: 20px;
        .paycum {
          font-size: 14px;
          color: rgba($color: #000000, $alpha: 0.45);
          margin-right: 20px;
        }
        .paynum {
          font-size: 30px;
          color: #000000;
        }
      }
    }
  }
  .echartCon {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    .echart {
      width: 48%;
      height: 500px;
    }
  }
}

@media screen and (max-width: 980px) {
  .Index {
    width: 1040px;
    .title {
      .right {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    padding: 0;
  }
  .Index {
    width: 100%;
    .title {
      width: 100%;
      position: fixed;
      height: 44px;
      left: 0;
      top: 0;
      z-index: 555;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right {
        display: inline-block;
        text-align: left;
        width: 18px;
        height: 18px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .contentTop {
      padding: 10px 20px;
      .btn_right {
        display: none;
      }
      .min_title {
        display: none;
      }
      .pickcan {
        .am-input-control{
          input{
            caret-color: transparent;
          }
        } 
        display: inline-flex ;
        width: 69%;
        border: 1px solid rgba(31, 56, 88, 0.3);
        .ant-input {
          border: none;
        }
        .ant-radio-button-wrapper:not(:first-child)::before{
          content: none;
        }
        .ant-radio-button-wrapper:not(:last-child){
          border-right: 1px solid #79889B;
        }
        .ant-radio-group{
          width: 100%;
        }
        .ant-radio-button-wrapper{
          border:none;
          height: auto;
          width: 33.33%;
          text-align: center;
          padding: 0;
          
        }
        .ant-radio-button-wrapper-checked{
          background-color: #FEBB00;
          color:#151202;
          border:none;
        }
      }
      .showpc {
        display: none;
      }
      .showList{
        // min-height: 400px;
      }
      .hideList{
        height: 100px !important;
        overflow: hidden;
      }
      .fromList {
        display: block;
        .depName {
          display: block;
          width: 100%;
          .depdiv{
            width: 100%;
          }
        }
        .timediv {
          margin-top: 25px;
        }
      }
      .timeStyle {
        width: 31%;
      }
      .screenBtn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      .proType {
        display: none;
      }
      .mproType {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
      .payType {
        display: block;
        margin: 20px 0;
        .selectPay {
          width: 100%;
        }
      }
      .mdep {
        display: flex;
        justify-content: space-between;
        p {
          color: rgba($color: #000000, $alpha: 0.6);
        }
        span {
          color: #2e69da;
          cursor: pointer;
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        left: 0;
        position: static;
        margin-top: 20px;
      }
      .midden {
        margin: 0;
        .flexInfo {
          flex-wrap: wrap;
          li {
            width: 49%;
            margin-bottom: 10px;
            height: 84px;
            .infobox {
              padding: 5px 0 5px 10px;
              .all {
                font-size: 12px;
                margin-bottom: 0;
                color: rgba($color: #fff, $alpha: 0.8);
                span {
                  display: block;
                }
              }
              .yi {
                font-size: 14px;
                margin-top: 0;
              }
              .title {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .contentBottom {
      padding: 0px;
      .echart {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
        .echartsTitle {
          border-radius: 0;
        }
        .echartBox {
          border: none;
          border-bottom: 1px solid #e4e4e4;
        }
      }
      .echartCon {
        display: block;
        .echart {
          width: 100%;
        }
      }
    }
  }
}

.am-list-item .am-list-line .am-list-content {
  display: flex;
}
.calendar-list .right {
  float: right;
}
