.MyList{
    width: 100%;
    height: 100%;
  padding-top: 45px;
  box-sizing: border-box;
    .content{
        margin-top: 10px;
        padding-top: 15px;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .list{
            padding: 0 15px;
            
            .dataTime{
                margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-content: center;
             .timetip{
                width:130px;
                height:20px;
                line-height: 20px;
                font-size: 12px;
                background:rgba(209,209,209,1);
                border-radius:10px;
                padding: 0 5px;
                color:#fff;
             }
            }
            .datacon{
                width:100%;
                height: 84px;
                background:rgba(255,255,255,1);
                box-shadow:0px 2px 5px 1px rgba(165,165,165,0.5);
                border-radius:11px;
                opacity:0.8;
                padding: 13px 20px 10px 12px;
                margin-bottom: 15px;
                .top{
                    display: flex;
                    justify-content: flex-start;
                    align-content: flex-start;
                    height: 40px;
                    .iconImg{
                        display: block;
                        width:22px;
                        height: 22px;
                        border-radius: 50%;
                        position: relative;
                    }
                    .circle:after{
                         content: '';
                         display: block;
                        width: 10px;
                        height: 10px;
                        background: #E60012;
                        position: absolute;
                        border-radius: 50%;
                        right: -5px;
                        top: -5px;
                        
                    }
                    .type{
                        color:#4A8EEB;
                        font-size: 14px;
                        padding: 0 10px;
                        width: 66px;
                    }
                    .address{
                        font-size: 14px;
                        color:#000;
                        flex: 1;
                        .iconLine{
                            padding:0 10px
                        }
                    }
                }
                .bottom{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 25px;
                    .time{
                        color:#434E5E;
                        font-size: 12px;
                    }
                    .statusTip{
                        color:#434E5E;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}