@import "~antd/dist/antd.css";
@import "~antd-mobile/dist/antd-mobile.css";
@import "./scss/common.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  list-style: none;
  padding: 0;
}
.navbar {
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 222;
}
.root{
  width: 100%;
  height: 100%;
}

// 日历
.single-month > .date{
  padding-top: 15px;
}
.am-calendar .single-month .row .cell .date-wrapper .date-selected {
  background-color: #da312e;
}
.am-calendar .confirm-panel .info {
  display: none;
}
.am-calendar .confirm-panel .button {
  width: 100%;
  background-color: #da312e;
}
.am-calendar .single-month .row .cell .date-selected {
  color: #da312e;
}
.am-calendar .header {
  height: 70px;
  margin: 0;
  border-bottom: 5px solid rgba(31, 56, 88, 0.06);
}
.am-calendar .header .left,
.am-calendar .header .right {
  top: initial;
  color: #da312e;
}
.am-calendar .content {
  height: 88%;
  bottom: 0;
  top: initial;
  border-radius: 13px 13px 0 0;
}
.am-calendar .single-month .month-title {
  background-color: rgba(31, 56, 88, 0.06);
  text-align: center;
  padding: 7px 0;
  color: rgba(31, 56, 88, 0.4);
  font-size: 12px;
}
.am-calendar .single-month .row .cell .date-wrapper .date {
  font-size: 16px;
  color: rgba($color: #000000, $alpha: 0.8);
}
.am-calendar .week-panel .cell {
  color: rgba(31, 56, 88, 0.6);
}
.am-calendar .single-month .row .cell .date-wrapper .grey,
.am-calendar .week-panel .cell-grey {
  color: #4f86c0;
}
.am-calendar .single-month .row .cell .date-wrapper .date-selected {
  color: #fff;
}
.am-calendar .single-month .row .cell .date-wrapper .disable{
  background-color: #f4f4f4;
  color: #999;
}
.page {
  right: pxToVw(40);
  top: pxToVh(40);
  .redHeader{
    background:linear-gradient(52deg,rgba(230,100,0,1) 0%,rgba(230,0,18,1) 100%);
    .am-navbar-title{
      color:#fff;
    }
  }
}
// .page {
//   .am-navbar {
//     position: absolute;
//     height: 50px !important;
//     background-size: cover;
//     width: 100%;
//     left: 0;
//     top: 0;
//     z-index: 100;
//     color: #444;
//     .iconfont {
//       font-size: 19px;
//       &.icon-left {
//         margin-left: -6px;
//       }
//     }
//     .am-navbar-title {
//       font-size: 1.13rem;
//       .am-notice-bar-content {
//         font-size: 1.13rem;
//       }
//     }
//   }
//   .am-navbar-left-icon {
//     line-height: 3.13rem;
//   }
// }
